
@{
    ViewData["Title"] = "EmpStatus";
}

<h1>EmpStatus</h1>

<h4>Total Employees</h4>
<h4>@ViewBag.Count</h4>
<hr />
<h4>Average Age</h4>
<h4>@ViewBag.Average</h4>
<hr />
<h4>Most Junior</h4>
<h4>@ViewBag.Minimum</h4>
<hr />
<h4>Most Senior</h4>
<h4>@ViewBag.MaxAge</h4>
<hr />
<h4>group by age = @ViewBag.EmployeesByDepartment</h4>
